<div class="bg-overlay bg-dark"></div>
<div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-left"></div>
<div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right"></div>
<div id="forgot_password">
  <div class="container" style="padding-left: 250px;">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <div class="card" style="width: 70%;">
        <div class="card-header text-center">
          <h3>Renvoyer le mail de confirmation</h3>
        </div>
        <%= render "users/shared/error_messages", resource: resource %>
        <div class="row">
          <div class="col-md-6 ">      
            <div class="card-body">
              <%= f.label :Mon_email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
            </div>
          </div>
          <div class="col-md-6" style="padding-top: 35px;">      
            <div class="card-body text-center">
              <%= f.submit "Envoyer", class:"btn btn-primary btn-outline btn-sm" %>                
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card-body text-center">
            <%= link_to "Retour", new_user_session_path, class:"btn btn-secondary btn-outline btn-sm" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>