
 </div>
					</fieldset>
					<br>
					<fieldset class="col-md-8 col-lg-12">
						<legend>Descriptions supplémentaires et commentaires</legend>
							<div class="col-md-8 col-lg-12">
								<div class="field form-group">
									<%= form.label 'Description quant au potentiel du bien' %>
									<div class="input-group">
										<%= form.text_area :potential_description, autofocus: true, class: "form-control order-1" %>
										<div class="input-group-append order-0">
											<div class="input-group-text">
												<i class="fas fa-snowplow"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-8 col-lg-12">
								<div class="field form-group">
									<fieldset>
										<legend><%= form.label :videos %></legend>
										<% if @case.videos.attached? %>
											<% if @case.videos.length == 1 %>
												<%= @case.videos.length %> ajoutée
											<%else%>
												<%= @case.videos.length %> ajoutées
											<%end%>
										<%else%>
											Veuillez ajouter une ou plusieurs vidéo(s) au dossier
										<%end%>
										<%= form.file_field :videos, multiple: true, accept: "video/*", class: 'form-control'%>
										<% @case.videos.each do |video|%>
											<% if video.representable? %>
												<%= link_to video.filename, video %>
												<%= link_to delete_video_attachment_case_path(video.id), method: :delete, data: { confirm: 'Etes_vous sûr?' } do %>
													<i class="fas fa-trash"></i>
												<% end %>
											<% end %>
										<% end %>
									</fieldset>
								</div>
							</div>
						</div>
					</fieldset>
				</div>
			</div> 
			<% if current_user.administrator? %>
				<br>
				<div class="separator-user-admin">
				</div>
				<div class="row justify-content-center align-items-center">
					<div class="col-md-8 col-lg-12">
						<h4 class="text-center mb-4">
							Partie administrateur
						</h4>
						<p class="text-center text-muted mb-5">
							Les données ci-dessous ne seront visibles que par un administrateur
						</p>
						<fieldset class="col-md-8 col-lg-12">
							<legend>Projection travaux</legend>
							<div class="row">
								
								
								
						</fieldset>
						<br>
						<fieldset class="col-md-8 col-lg-12">
							<legend>Projection du bien en lui-même</legend>
							<div class="row">
								
								<div class="col-md-8 col-lg-4">
									<div class="field form-group">
										<%= form.label 'Loyer des chambres' %>
										<%= form.fields_for :rooms do |room| %>
											<%= render 'room_fields', f: room %>
										<% end %>
										<%= link_to_add_fields "Ajouter une chambre", form, :rooms %>
									</div>
								</div>
								        
							</div>
						</fieldset>
					</div>
				</div> 
			<% end %> 
			<br>
			<div class="row">
				<div class="col-md">
					<div class="actions text-left">
						<%= link_to "Retour", :back, class: "btn btn-outline-secondary" %>
					</div>
				</div>
				<div class="col-md">
					<div class="actions text-right">
						<%= form.submit @s_button_submit, class: "btn btn-outline-primary" %>
					</div>
				</div>
			</div>
		<% end %>
	</div> 
</section>
<%
=end%> 
<%
=end%>