<div id="index_user">
  <section class="section section-top section-full">
    <div class="bg-overlay bg-dark bg"></div>
    <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-left bg"></div>
    <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right bg"></div>
    <div class="container">
      <div class="card bg-white">
        <div class="card-header">
          <%= render "users/shared/error_messages", resource: resource %>
          <%= render 'layouts/devhelper' %>
          <div class="row">
            <div class="col-md-4 margin-card-header">
              Compte 
            </div>
            <div class="col-md-4 margin-card-header">
              Status 
            </div>
          </div>
        </div>
        <div class="card-body">
          <% @users.each do |user| %>
            <div class="row">
              <div class="col-md-4">
                <p><%= user.lastname %> <%= user.firstname %><p>
                <%=link_to user.email, user_path(user.id) %>
              </div>
              <div class="col-md-4 margin-status">
                <% if user.approved == true %>
                  <p class="text-success"><i class="fas fa-check-circle fa-2x"></i></p>
                <%else%>
                  <p class="text-danger"><i class="fas fa-times-circle fa-2x"></i></p>
                <%end%>
              </div>
              <% if user.approved == false %>
                <div class="col-md-4 margin-confirmed">
                  <%= link_to "Confirmer le compte", user_path(user.id), method: :put, class: "btn btn-outline-primary" %>
                </div>
                <%else user.approved == true %>
                <div class="col-md-4 margin-confirmed">
                  <%= link_to "désactiver le compte", user_path(user.id), :confirm => 'êtes vous sûr de vouloir désactiver ce compte?', method: :put, class: "btn btn-outline-danger" %>
                </div>
              <% end %>
                
            </div>
            <hr>
            <br>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>
