<section class="section">
  <div class="bg-cover"></div>
  <div class="bg-overlay bg-dark"></div>
  <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-left"></div>
  <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right"></div>
  <div id="user_show">
    <div class="container">
      <div class="row">
        <div class="card" style="background-image: url(<%= asset_path('1.jpg') %>);">
          <div class="card-header text-center">
            <h3 class="card-title">Profil de <%= @user.lastname.titleize %> <%= @user.firstname.titleize %> </h3>
          </div>
          <ul class="list-group list-group-flush">
            <hr>
            <li class="list-group-item">Email : <span class="text-secondary"> <%= @user.email %></span></li>
            <li class="list-group-item">Numéro de téléphone : <span class="text-secondary"> <%= @user.phone_number %></span></li>
            <li class="list-group-item">Vous êtes enregistré en tant que : <span class="text-secondary"> <%= @user.profession %></span></li>
          </ul>
          <div class="card-body text-center">
            <%= link_to 'Modifier le profil', edit_user_registration_path, class:"btn btn-primary btn-lg" %>
          </div>
          <div class="col-md-1">
            <%= link_to 'Retour', cases_path, class:"btn btn-secondary btn-sm" %>
          </div>
        </div>
      </div>
    </div>
		<div id="index_case">
			<div class="container">
				<div class="row">
					<% if current_user.administrator? %>
						<% if @cases.length == 1 %>
							<h3 class="text-center text-white custom">Dossier géré par <%=@user.lastname.titleize%> <%=@user.firstname.titleize%> :</h3>
						<%else%>
							<h3 class="text-center text-white custom">Dossiers gérés par <%=@user.lastname.titleize%> <%=@user.firstname.titleize%> :</h3>
						<%end%>
            <br>
						<%= render 'cases/cases' %>
					<%end%>
				</div>
			</div>
		</div>
  </div>
</section>
             