<div id="edit_rooms">
	<section class="section section-top section-full ">
		<div class="bg-cover bg-dark bg"></div>
		<div class="bg-overlay "></div>
		<div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-left bg"></div>
		<div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right bg"></div>
		<div class="container">
			<div class="card" style="background-image: url(<%= asset_path('Original-Foam-Gallery-3.jpg') %>);">
				<div class="card-header text-center">
					<br>
					<h1>Modification des chambres</h1>
				</div>
				<div class="card-body ">  

<%= form_with(url: case_room_path, method: "put") do %>    
                        <% @case_rooms.each_with_index do |room, ind| %>
                                    <%= label_tag "Chambre numéro :#{ind+1}", nil, class: 'white' %><br />
                                        <%= number_field_tag room.rent_monthly, nil, class: 'form-control order-1', required: true, data: {autocomplete_source: room.rent_monthly} %>
	<%= submit_tag "Generer les chambres" %>
					<%= form_with(model: @rooms, local: true, class: "form-styled bg-white") do |form| %>
						<%= form.label 'Nom du dossier' %>
						<%= form.number_field :rent_monthly, autofocus: true, class: "form-control order-1" %>
						<%= form.submit "generate", class: "btn btn-outline-primary" %>
					<% end %>

				</div>
			</div>
		</div>
	</section>
</div>