<div id="edit_rooms">
	<section class="section section-top section-full ">
		<div class="bg-cover bg-dark bg"></div>
		<div class="bg-overlay "></div>
		<div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-left bg"></div>
		<div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right bg"></div>
		<div class="container">
			<div class="card" style="background-image: url(<%= asset_path('Original-Foam-Gallery-3.jpg') %>);">
				<div class="card-header text-center">
					<br>
					<h1>Modification des chambres</h1>
				</div>
				<div class="card-body ">
					<%= form_with(url: case_room_path, method: "put") do |form| %>    
						<% @case_rooms.each_with_index do |room, ind| %>
							<h2 class="background">Chambre n° : <span class="text-danger"> <%= ind + 1 %></span></h2>	
							<%= form.number_field room.rent_monthly, required: true %>
						<br>
						<% end %>
						<div class="text-center">
							<%= submit_tag "Valider", class: "btn btn-primary text-dark" %>
						</div>
					<%end%>
				</div>
			</div>
		</div>
	</section>
</div>