<div class="bg-overlay bg-dark"></div>
<div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-left"></div>
<div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right"></div>
<div id="forgot_password_email">
  <div class="container">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="card" style="width: 70%;">
        <div class="card-body text-center margin-title">
          <h3 class="card-title">Mot de passe oublié ? </h3><br>
          <p>Veuillez renseigner votre email afin que nous puission vous envoyer des instructions pour changer votre mot de passe</p>
        </div>
        <%= render "users/shared/error_messages", resource: resource %>
        <hr>
        <div class="row">
          <div class="col-md-8 col-lg-6 margin-email">      
            <div class="card-body text-center">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
            </div> 
          </div>       
          <div class="col-md-8 col-lg-6 margin-button">      
            <div class="card-body text-center">
              <%= f.submit "Envoyer", class:"btn btn-outline-primary btn-sm" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-lg-6 padding-back-button">
            <%= link_to "Retour", new_user_session_path, class:"btn btn-secondary btn-outline btn-sm" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
