
<div id="navbar">
  <nav class="navbar navbar-expand-xl navbar-dark  navbar-togglable fixed-top">
    <div class="container">
      <%= link_to image_tag("https://scontent-cdg2-1.xx.fbcdn.net/v/t1.15752-9/129202059_290807142351895_5983916574331561307_n.png?_nc_cat=108&ccb=2&_nc_sid=ae9488&_nc_ohc=36QBZRmXoQIAX-O-f2O&_nc_ht=scontent-cdg2-1.xx&oh=edc5f505806d1f35596740a0c5af9921&oe=5FEC8E26"), cases_path%>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to 'Profil',  user_path(current_user.id), class: "nav-link" %>  
          </li>
          <li class="nav-item">
            <%= link_to 'Creer un dossier',  new_case_path, class: "nav-link" %>  
          </li>
          <li class="nav-item">
            <%= link_to 'Liste des dossiers', cases_path, class: "nav-link" %> 
          </li>
          <li class="nav-item-divider">
            <span class="nav-link">
              <span></span>
            </span>
          </li>
          <li class="nav-item">
              <%= link_to 'Deconnexion', destroy_user_session_path, data: {confirm:'Étes vous sûr de vouloir vous déconnecter ?'}, method: :delete, class:"nav-link" %>  
          </li>
          <% if current_user.administrator? %>
            <li class="nav-item">
                <%= link_to "Confirmer les comptes", users_path, class: "nav-link"%>
            </li>
          <% end %>
        </ul>
      </div> 
    </div>     
  </nav>
</div>