<!DOCTYPE html>
<html>
  <head>
    <title>RentCo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>

    <% if current_user %>
      <p>Vous êtes connectés</p>
    <%else%>
      <p> Vous n'êtes pas connecté<p>
    <%end%>

    <%= link_to 'Deconnexion', destroy_user_session_path(current_user), method: 'DELETE', :class => "btn btn-danger btn-outline btn-lg" %>
  
    <%= yield %>


  </body>
</html>
