<!DOCTYPE html>
<html>
  <head>
    <title>RentCo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body data-turbolinks="false">

    <% if current_user %>
      <%= render 'layouts/navbar' %>
    <% end %>
  

    <%= yield %>

  </body>
    <script src="https://kit.fontawesome.com/5069487eeb.js" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
