<!DOCTYPE html>
<html>
  <head>
    <title>RentCo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= wicked_pdf_stylesheet_link_tag "pdf" %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap"
  type="text/javascript"></script>
    <meta name="google-site-verification" content="QWZ_mwxwv-Luz8dA4-v2Onm7Bh9yVAafsxBa3-cHSsI" />

    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+ ENV['GOOGLE_MAP_API'] %>

  </head>

  <body data-turbolinks="false">

    <% if current_user %>
      <%= render 'layouts/navbar' %>
    <% end %>
  
   
    <%= yield(:head_tags) %>
    <%= yield %>

  </body>
    <script src="https://kit.fontawesome.com/5069487eeb.js" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
